@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

/* General styling*/

body {
  font-family: "Arial", Helvetica, sans-serif;
}

header,
main {
  padding: 16px;
}

h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Libre Caslon Display", serif;
}

.socials {
  display: flex;
}

/* Header styling */

.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  background: #0891b2;
  transform: skewY(-30deg);
  transform-origin: top left;
  width: 640px;
  top: 0; /* snaps to top of parent */
  left: 0; /* snaps to left of parent */
  bottom: 55%; /* height of element relative to parent */
  z-index: -1;
}

.hero__img {
  padding: 8px;
  position: relative;
}

.hero__img img {
  min-height: 500px;
  object-fit: cover;
}

.hero__img h1 {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.1;
  text-shadow: 1px 1px 10px #000;
  text-align: left;
}

.hero__description h1 {
  text-align: center;
}

.hero__description p {
  font-size: 1.2rem;
  line-height: 1.6;
  padding-bottom: 16px;
}

.hero .socials {
  justify-content: center;
  gap: 1rem;
}

.hero .socials img {
  max-width: 32px;
}

/* Main styling */
main {
  margin: 4rem 0 8rem 0;
}

main h1 {
  margin-bottom: 16px;
  text-align: center;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.works__card {
  min-width: 100%;
  box-shadow: 5px 5px 10px #a1a1a1;
}

.dummy-screenshot {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__card:nth-child(1) .dummy-screenshot {
  background-color: #7c75ca;
}
.works__card:nth-child(2) .dummy-screenshot {
  background-color: #d88f39;
}
.works__card:nth-child(3) .dummy-screenshot {
  background-color: #5e8f4d;
}
.works__card:nth-child(4) .dummy-screenshot {
  background-color: #ca7599;
}
.works__card:nth-child(5) .dummy-screenshot {
  background-color: #4692d9;
}
.works__card:nth-child(6) .dummy-screenshot {
  background-color: #5e8f4d;
}

.dummy-screenshot p {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.card__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
}

.card__title .socials {
  gap: 0.5rem;
}

.card__title .socials img {
  min-width: 24px;
}

.card__description {
  min-height: 8rem;
  margin: 16px;
}

/* Footer styling */

footer {
  background-color: #0891b2;
  color: #fff;
}

footer h1 {
  margin-bottom: 16px;
  text-align: center;
}

.footer__contact {
  padding: 16px;
}

.footer__contact p {
  margin-bottom: 16px;
}

.footer__contact p:nth-child(2) {
  font-size: 1.2rem;
}

footer .socials {
  gap: 1.5rem;
  justify-content: center;
  margin: 1rem 0 4rem;
}

footer .socials img {
  max-width: 48px;
}

.footer__img {
  min-height: 500px;
  object-fit: cover;
  object-position: bottom;
}
