@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

/* General styling*/

body {
  font-family: "Arial", Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 1280px;
}

.header-wrapper {
  position: relative;
}

.footer-wrapper {
  background-color: #0891b2;
}

h1,
figcaption {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Libre Caslon Display", serif;
}

p {
  color: #686868;
}

.socials {
  display: flex;
}

/* Header styling */

.header-wrapper::after {
  content: "";
  position: absolute;
  background-color: #0891b2;
  transform: skewY(-30deg);
  transform-origin: top left;
  width: 100%;
  top: 0; /* snaps to top of parent */
  left: 0; /* snaps to left of parent */
  bottom: 55%; /* height of element relative to parent */
  z-index: -1;
}

.hero {
  padding: 16px;
  position: relative;
}

.hero__img {
  padding: 8px;
  position: relative;
}

.hero__img img {
  min-height: 500px;
  object-fit: cover;
}

.hero__img figcaption {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.1;
  text-shadow: 1px 1px 10px #000;
  text-align: left;
}

.hero__description {
  background-color: #fff;
  padding-bottom: 16px;
}

.hero__description h1 {
  margin-top: 16px;
  text-align: center;
}

.hero__description p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero .socials {
  margin-top: 16px;
  justify-content: center;
  gap: 1rem;
}

.hero .socials img {
  max-width: 32px;
}

/* Main styling */

main {
  padding: 16px;
}

main h1 {
  margin-top: 4rem;
  margin-bottom: 16px;
  text-align: center;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin-bottom: 8rem;
}

.works__card {
  min-width: 100%;
  box-shadow: 5px 5px 10px #a1a1a1;
}

.dummy-screenshot {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__card:nth-child(1) .dummy-screenshot {
  background-color: #7c75ca;
}
.works__card:nth-child(2) .dummy-screenshot {
  background-color: #d88f39;
}
.works__card:nth-child(3) .dummy-screenshot {
  background-color: #5e8f4d;
}
.works__card:nth-child(4) .dummy-screenshot {
  background-color: #ca7599;
}
.works__card:nth-child(5) .dummy-screenshot {
  background-color: #4692d9;
}
.works__card:nth-child(6) .dummy-screenshot {
  background-color: #5e8f4d;
}

.dummy-screenshot p {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.card__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
}

.card__title .socials {
  gap: 0.5rem;
}

.card__title .socials img {
  min-width: 24px;
}

.card__description {
  min-height: 8rem;
  margin: 16px;
}

/* Footer styling */

footer {
  background-color: #0891b2;
  color: #fff;
}

footer h1 {
  margin-bottom: 16px;
  text-align: center;
}

.footer__contact {
  padding: 16px;
}

.footer__contact p {
  color: #fff;
  margin-bottom: 16px;
}

.footer__contact p:nth-child(2) {
  font-size: 1.2rem;
}

footer .socials {
  gap: 1.5rem;
  justify-content: center;
  margin: 1rem 0 4rem;
}

footer .socials img {
  max-width: 48px;
}

.footer__img {
  background-color: red;
}

.footer__img img {
  min-height: 500px;
  object-fit: cover;
}

/* Tablet */
@media (min-width: 768px) {
  /* Header styling (Tablet) */

  .header-wrapper::after {
    transform: skewY(-10deg);
    bottom: 35%; /* height of element relative to parent */
  }

  .hero {
    padding: 128px 96px 16px 96px;
  }

  .hero__img {
    padding: 0;
    float: left;
    max-width: 50%;
    margin-right: 16px;
    transform: scale(1.2);
    transform-origin: bottom right;
  }

  .hero__img figcaption {
    left: auto;
    bottom: auto;
    right: -100%;
    top: 10px;
    font-size: 4rem;
    white-space: nowrap;
  }

  .hero__description {
    padding: 4rem 32px 4rem 32px;
    box-shadow: 5px 5px 10px #a1a1a1;
  }

  .hero__description h1 {
    margin-bottom: 16px;
  }

  .hero .socials {
    display: none;
  }

  /* Main styling (Tablet) */

  main {
    padding: 16px 64px;
  }

  main h1 {
    margin-top: 32px;
    text-align: left;
  }

  .works {
    gap: 0;
    column-gap: 32px;
    row-gap: 64px;
    justify-content: space-between;
  }

  .works__card {
    flex: 1 0 calc(50% - 16px);
    min-width: auto;
  }

  .card__title {
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;
  }

  /* Footer styling (Tablet) */

  footer {
    display: flex;
    padding: 32px 32px 64px;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
  }

  .footer__contact,
  .footer__img {
    flex: 1;
  }

  footer h1 {
    text-align: left;
  }

  .footer__img {
    margin-left: 32px;
  }

  .footer__contact .socials {
    margin: 0;
    margin-top: auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Header styling (Desktop) */

  .header-wrapper::after {
    transform: skewY(-10deg);
    bottom: 35%; /* height of element relative to parent */
  }

  .hero {
    display: flex;
    padding: 64px;
    padding-left: 128px;
  }

  .hero > * {
    flex: 1;
  }

  .hero__img {
    max-width: 40%;
    margin-right: 0;
    transform: scale(1.2);
    transform-origin: right;
    aspect-ratio: 1 / 1;
  }

  .hero__img img {
    min-height: 0;
    width: 100%;
    height: 100%;
  }

  .hero__img figcaption {
    left: 20px;
    right: auto;
    top: auto;
    bottom: 10px;
    white-space: wrap;
  }

  .hero__description {
    padding: 16px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
  }

  .hero__description h1 {
    text-align: left;
  }

  .hero .socials {
    display: flex;
    margin-top: auto;
    align-self: self-end;
  }

  /* Main styling (Desktop) */

  .works__card {
    flex: 1 0 calc(33.3% - 32px);
    min-width: auto;
  }

  /* Footer styling (Desktop) */
  footer {
    padding: 64px;
  }

  .footer__contact {
    max-width: 40%;
  }

  .footer__contact .socials {
    margin-top: 32px;
    align-self: self-start;
  }
}
